<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Vic3</title>
    <link rel="stylesheet" href="/CSS/nav.css">
    <link rel="stylesheet" href="/CSS/index.css">
    

</head>
<body>
    <nav>
        <a href="index.html">home</a>
        <a href="/views/about.html">about</a>
    </nav>

    <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Illo autem sapiente pariatur dolorem sequi! Veritatis perferendis ad,
            hic pariatur incidunt minus eius nihil ipsum, ea libero quasi praesentium aliquid in.</p>
    
    <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Evenie
            t eaque aliquam nisi quod. Ipsum nostrum laudantium minima cupiditate ratione qui, voluptates 
            autem sunt et modi! Hic a vitae consectetur velit.</p>
    
</body>
</html>